.inter-3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #1A0B2E;
}
/* Shere color */
.color-1bag{
    background-color: #1A0B2E;
}

.about-reating{
    color: #00FF88;
}
#wave{
    background: linear-gradient(90deg, #22d3ee, #a855f7, #ec4899);
            background-clip: text;
            color: transparent;
            font-size:  2.25rem;
}
.nav-bar {
    max-width: 1500px;
    margin: 0px auto;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding:15px 190px ;
    background-color: #1A0B2E;
    align-items: center;
}

.btn1 {
    border-radius: 16px;
    padding: 10px 15px;
    background: linear-gradient(90deg,
            #ffd66b 0%,
            #ff4ecd 40%,
            #5b2bff 100%);
    cursor: pointer;
    transition: 0.3s;
}

.btn1:hover {
    transform: scale(1.2);
}

.btn2 {
    border-radius: 16px;
    padding: 8px 16px;
    background:transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    cursor: pointer;
    width: 150px;

}

.hero-container {

    background-image: url("Images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    height: 600px;

}

.hero-container img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
}

#inner-img {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150px;
    height: auto;
}
.about-section{
    max-width: 1600px;
    /* padding-left: 200px;
    padding-right: 200px; */
    padding: 0 200px;
    margin: 0 0;
    background-color: #1A0B2E;
}
.card-text{
    transition:0.3s;
}
.card-text:hover{
    transform: scale(1.1);
 }
.card-media{
    justify-content: center;
}
@media screen and (max-width:576px){
    .card-media{
        grid-template-columns: repeat(1, 1fr);
    }
    #about-desc{
        padding: 0px;
        width: 570px;
        background-color: red;
    }
}