.inter-3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #1A0B2E;
}
.nav-bar {
    max-width: 1600px;
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1A0B2E;
}

.btn1 {
    border-radius: 16px;
    padding: 12px 16px;
    background: linear-gradient(90deg,
            #ffd66b 0%,
            #ff4ecd 40%,
            #5b2bff 100%);
    cursor: pointer;
    transition: 0.3s;
}

.btn1:hover {
    transform: scale(1.2);
}

.hero-container {
    background-image: url(Images/hero-bg.png);
    background-image: url("Images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    height: 600px;
    overflow: hidden;
}

.hero-container img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
}

#inner-img {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150px;
    height: auto;
}